__MACOSX/
.DS_Store
._*
out/
out_headless/
.env
.coverage
.pytest_cache/
.idea/
.vscode/
__pycache__/
*.pyc
venv/
3.10_venv/
venv-packager/
build/
dist/
htmlcov/
.next/
node_modules/
3.11_venv/
.pyinstaller-cache/
CODEBASE_FLOW_EU_DPDP.md
DPDP_EXTENDED_V1_ROADMAP.md
GEMINI.md
NONTECH_FLOW_EXPLAIN.md
CODEX_ENDTOEND
NEXT_PHASEWISE_STEPS
TODO_NEXT_MAIN

