rule-engine
pydantic
pyyaml
jsonschema
click
fastapi
uvicorn
jinja2
weasyprint
clibuilder
pytest-cov
pymongo
python-dotenv
fastapi
uvicorn
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pyJWT